{% extends 'home/base.html' %} -->
{% load static %}
{% block body %}
<section class="branch_name_list_section">
  <div class="container">
    <h1 class="tsf_name_title">Tripura student Forum, BANGLADESH <br> Branch leader</h1>
    <div class="text-center">
      {% if user.is_superuser %}
      <h2> <a href="{% url 'branch_form' %}" class="btn btn-primary">Create Branch</a></h2>
      {% endif %}
    </div>
    {% include 'home/messeage.html' %}
  <div class="row justify-content-center">

    {% for name in branchs %}
  <div class="card branc_section">
    <div class="card-body">
      <div class="text-center">
        <img src="{% static 'img/tsf.jpg'%}" alt="" class="branch_tsf_logo">
      </div>
      <h2 class="branch_sectiomn_name"
      ><a href="{% url 'branch_year' name.pk %}">{{ name.branchname}}</a></h2>
      {% if user.is_superuser %}
      <a href="{% url 'branch_name_update' name.pk %}" class="btn btn-danger btn-sm btn-block">Update</a>
      <a href="{% url 'branch_delete' name.pk %}" class="btn btn-danger btn-sm btn-block"  onclick="return confirm('are you sure want to delete?')">delete</a>
      {% endif %}
    </div>
  </div>
  {% empty %}
  <div class="alert alert-danger" role="alert">
    Not added yet..thank you    
    </div>
  {% endfor %}
  </div>
  </div>
</section>


{% endblock %}
